

.container{
    width: 300px;
    margin: 5% auto;
}
.col-12{
    height:80px;
}

.asd{
    margin: 5% auto;
    width: 330px;
    height: 24rem;
    background-color: #f2ecec;
    border-radius: 7%;
    

}   